.root {
    -fx-background-image: url('../assets/images/menuBackground.jpg');
    -fx-display: flex;
    -fx-alignment-vertical: center;
    -fx-alignment-horizontal: center;
    -fx-font-family: 'Press Start 2P';
}

.parentalControlsContainer {
    -fx-background-color: rgba(90, 90, 90, 0.7);
    -fx-background-radius: 8px;
    -fx-padding: 50 50 50 50;

}

.dangerButton {
    -fx-background-color: #c82828;
}

.dangerButton:hover {
    -fx-background-color: #931d1d;
}

.button {
    -fx-background-radius: 15px;
    -fx-font-size: 2em;
}

.backButton {
    -fx-pref-height: 70px;
    -fx-background-color: #c82828;
}

.backButton:hover {
    -fx-background-color: #931d1d;
}

.imageContainer {
    -fx-background-color: rgba(90, 90, 90, 0.7);
    -fx-background-radius: 8px;
    -fx-padding: 50 50 50 50;
    -fx-pref-width: 500px;
}